<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RMA_IL"  data-provider-thread-count="1">


    <listeners>
       <listener class-name="listener.MyListener"></listener>
    </listeners>

    <test name="chrome">
        <parameter name="browserName" value="chrome"></parameter>
        <parameter name="version_br" value="102"></parameter>
        <parameter name="url" value="https://test14.mt-op.com/ausers/login_2?ReturnUrl=%2f"></parameter>

        <classes>
<!--            <class name="web.valid.ServiceCallExistsTest"></class>-->
<!--            <class name="web.valid.ErrorEmailTest"></class>-->
<!--            <class name="web.valid.ErrorPassTest"></class>-->
        <!--            <class name="web.success.NewSCTest"></class>-->

            <class name="web.success.CopyFileTest"></class>
        </classes>
         <!--       <packages>
                   <package name="web.valid"></package>
                </packages>
        -->
<!--       <classes>-->
<!--            <class name="web.valid.ErrorEmailTest"><methods><exclude name="new_customer"></exclude></methods></class>-->
<!--        </classes>-->
    </test>
</suite>